#output
{
background: white;
border-radius: 10px;
border-top: 10px solid limegreen;
padding: 10px;
float: none;
text-align: center;
}

input{
    border-radius: 10px;
    width: 300px;
    height: 30px;
}