body {
  background-position: center;
  background-size: cover;
  background: url("pexels-stephan-seeber-1261728.jpg");
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 2px;
}

#p_img {
  width: 15%;
  margin-top: 50px;
}

input {
  border-radius: 10px;
  width: 300px;
  height: 30px;
}
